body {
  background: #262626;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: fancake;
  src: url("/assets/fonts/Fancake.ttf");
}
